body {
    background:     rgb(223, 239, 205);
    color: black;
    font-family: Arial;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-top: 20px;
}

.photo {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 12px;
}

table.program {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

table.program th,
table.program td {
    padding: 5px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #000000;
}

table.program thead th {
    background: #17d05b; 
    color: #fff;
    font-weight: 600;
}

table.program tbody tr:nth-child(odd) {
    background: #5a894c; 
}

table.program tbody tr:hover {
    background: #00ffa2; 
    cursor: default;
}